.friends-card,
.stats-card {
    height: 80vh;
    padding: 1.5em;
    border-radius: 24px;
    overflow: scroll;
}

img.friends-list-profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.friend-info {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    padding: 1em;
}

p.friend-name {
    margin: 0 0.5em 0 0;
}

p.friend-username {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 75%;
    opacity: 50%;
}

div.friends-name-user-container * {
    display: inline-block;
}