.login-container {
  margin-top: 5%;
  padding: 2px 16px; /* creates margins */
  width: 25vw;
  text-align: center;
}
.login-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 16px;
  background-color: var(--card-background-color);
}

.form-text {
  color: var(--text-color) !important;
}

div.login-form label {
  padding: 5px;
}
.login-button {
  width: 50%;
}
#badLogin {
  text-align: center;
  color: red;
}
h1.logo {
  font-family: Light;
  font-size: 3.5em !important;
}
.register-link {
  font-size: large;
}
