.login-container {
  padding: 2px 16px; /* creates margins */
  width: 20%;
  text-align: center;
}
.login-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 5%;
  background-color: var(--card-background-color);
}

.form-text {
  color: var(--text-color) !important;
}

div.login-form label {
  padding: 5px;
}
.login-button {
  width: 50%;
}
#badLogin {
  text-align: center;
  color: red;
}
