.registration-container {
  padding: 2px 16px; /* creates margins */
  width: 30vw;
  margin-top: 2vh;
}
.form-group {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid lightgray;
  text-align: left;
  border-radius: 16px;
  background-color: var(--card-background-color);
}
.form-group-noborder {
  border: 1px solid transparent;
}
Form {
  text-align: center;
}
.regButton {
  width: 50%;
  margin: 2em auto 2em auto !important;
}
.errorMsg {
  color: red;
}
.registration-label {
  padding: 5px;
}
.register-link {
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}
.registration-header {
  text-align: center;
}
