.settings-card {
    height: 100%;
    padding: 1.5em;
    border-radius: 24px;
}

.settings-list .nav-link,
.settings-list .nav-link:hover,
.settings-list .nav-link.active {
    font-size: 150%;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--text-color);
    text-align: left !important;
}

.settings-list .nav-link:hover {
    opacity: 50%;
}

.settings-list .nav-link.active:hover {
    opacity: 100% !important;
}

.settings-list .nav-link.active {
    font-weight: bold;
}

.main-settings-container {
    width: 75vw;
}

.modal-content {
    background-color: var(--card-background-color);
}

.modal-content .btn {
    border-radius: 10px;
}

.btn-close {
    filter: var(--text-color-filter);
}

.modal-content .danger, .modal-content .danger:hover {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.danger:hover {
    opacity: 80%;
}

.delete-button, .delete-button:hover {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    width: 30%;
    border-radius: 10px !important;
}

/* This is a temporary fix to center the submit button because Kyle doesn't know what he's doing. */
div .button-div {
    width:35%;
    margin:auto !important;
}

.settings-change-button {
    width:100%;
  }

#badLogin {
    display:block;
    text-align:center;
    font-size: 1.1em;
    letter-spacing: .05rem;
    text-decoration: underline;
    color: red !important;
  }