/* ---- LIGHT MODE COLORS ---- */
:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --text-color-filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
  --card-background-color: var(--background-color);
}

/* ---- DARK MODE COLORS ---- */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #d1cfcf;
    --text-color-filter: invert(93%) sepia(18%) saturate(13%) hue-rotate(314deg) brightness(90%) contrast(84%);
    --card-background-color: #3b3b3b;
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

div.card, div.task-list {
  background-color: var(--card-background-color) !important;
  color: var(--text-color);
}

.list-group {
  --bs-list-group-bg: var(--card-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ----- NAVBAR ----- */

.navbar {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 3em;
  padding: 1em;
}

.navbar-brand {
  color: var(--text-color);
}

.navbar-brand img {
  margin-right: 10px;
}

.main-nav-button {
  margin: auto 0.25em auto 0.25em;
  border-radius: 24px;
  width: 100px;
}

/* ----- TASK VIEW ----- */
div.tasks-card,
div.tasks-add,
div.calendar-card div.tasks-card,
div.react-calendar {
  height: 80vh;
  padding: 1.5em;
  border-radius: 24px;
}

div.card-title {
  font-weight: bold;
}

div.task-list {
  border: none !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


div.task {
  border: none;
  padding-left: 0;
}

div.task label {
  display: inline-block;
  text-decoration: none;
}

div.task label:hover {
    text-decoration:underline !important;
}

.d-flex {
  flex-grow: 1;
}

.col {
  height: 80vh;
}



button, .btn, [type="button"]:not(:disabled) {
  max-height: 50px;
  border-radius: 24px;
}

div.react-calendar button, div.react-calendar [type="button"]:not(:disabled) {
  max-height: none;
  border-radius: 2px;
}

div.tasks-card button {
  width: 50%;
  margin: auto;
  border-radius: 24px;
}

.taskDescBox {
  height: 25%;
}

.taskNameBox {
  margin-top: 5%;
}

div.tasks-add button {
  width: 50%;
  margin: 5% auto 0px auto;
  border-radius: 24px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__view-calendar-icon input {
  border: 1px solid lightgray;
  border-radius: var(--bs-border-radius);
  width: 100%;
}

div.tasks-add .taskDescBox,
.taskNameBox {
  margin-top: 5%;
  margin-bottom: 5%;
}

.react-calendar {
  text-align: center;
}

.react-calendar__navigation {
  margin-bottom: 1em;
  display: flex;
}

.react-calendar__navigation__label {
  font-size: 1.5em;
  font-weight: bold;
}

.react-calendar__navigation__arrow {
  font-size: 1.5em;
  flex-grow: 0.333;
}

.react-calendar__month-view__weekdays {
  text-align: center;

  abbreviation {
    text-decoration: none;
  }
}

button {
  margin: 2px;
  background-color: var(--default-color);
  border: 0;
  color: white;
  height: 9vh;

  &:hover {
    background-color: var(--default-hover);
  }

  &:active {
    background-color: var(--default-click);
  }
}

/* ~~~ day grid styles ~~~ */
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;

  .react-calendar__tile {
    max-width: initial !important;
  }
}

/* ~~~ neighboring month & weekend styles ~~~ */
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.6;
}

.react-calendar__month-view__days__day--weekend {
  color: --;
}

/* ~~~ active day styles ~~~ */
.react-calendar__tile--range {
  box-shadow: 0 0 6px 2px black;
}

/* ~~~ other view styles ~~~ */
.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: grid !important;
  grid-template-columns: 20% 20% 20% 20% 20%;

  &.react-calendar__year-view__months {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .react-calendar__tile {
    max-width: initial !important;
  }
}

.unchecked {
  text-decoration: none !important;
  color: var(--text-color);
}

.checked {
  text-decoration: line-through !important;
  color: grey;
}

.form-check-input[type="checkbox"] {
  margin-right: 1em;
}

div.theme-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 1em;
  column-gap: 1em;
  margin-left: 0.5em;
  width: 30%;
}

div.theme-container .btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 100%;
}

p.settings-section {
  margin-top: 1em;
  font-size: 150%;
}