body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----- NAVBAR ----- */

.navbar {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 3em;
  padding: 1em;
}

.main-nav-button {
  margin: auto 0.25em auto 0.25em;
  border-radius: 24px;
  width: 100px;
}

/* ----- CARDS ----- */
div.tasks-card, div.tasks-add, div.calendar-card {
  height: 80vh;
  padding: 1em;
  border-radius: 24px;
}

 .taskDescBox{
  height: 25%
 }

 .taskNameBox {
    margin-top: 5%;
 }

 div.tasks-add button {
    width: 50%;
    margin: 5% auto 0px auto;
    border-radius: 24px;
    background-color: var(--bs-btn-active-bg);
  }

  .react-datepicker__view-calendar-icon input {
    border: 1px solid lightgray;
    border-radius: var(--bs-border-radius);
    width: 100%;
  }

  div.tasks-add .taskDescBox, .taskNameBox {
    margin-top:5%;
    margin-bottom:5%;
  }
 